@import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (max-height : 700px)
	.number_one
		.left_image
			width: 500px
			left: -400px
			bottom: 0
			top: auto
			img
				width: 100%
		.right_image
			width: 450px
			bottom: 0
			right: -350px
			img
				width: 100%
		.text
			h1
				font-size: 100px
				span
					font-size: 48px
			p
				margin-bottom: 25px

	.our_liquer
		padding-top: 150px
		.text
			max-width: 750px
			.image
				width: 550px
				left: -450px
				img
					width: 100%

	.secret_coffee
		padding-top: 100px
		.text
			max-width: 100%
			h2
				br
					display: none

@media only screen and (max-width : 1450px)
	.header
		padding-top: 12px
		.header_desktop
			.main_menu
				margin-right: 3%
			.header_logo
				margin-right: 4%
				width: 150px
				img
					width: 100%
			.header_language
				margin-right: 3%

	.recepies
		&_item
			flex: 50%
			&:nth-child(3)
				&:before
					display: block
			&:nth-child(3n)
				border-right: 1px solid #281818
			&:nth-child(2n)
				border-right: none

	.contact
		.adresses
			&_item
				flex: 50%
				&:nth-child(2n)
					border-right: none

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.header
		position: static
		padding-top: 0
		.header_desktop
			display: none
		.header_mobile
			display: block
			&_visible
				position: absolute
				top: 0
				left: 0
				width: 100%
				padding-top: 12px
				z-index: 1
		.header_language
			li
				&:nth-child(2)
					top: calc(100% + 10px)

@media only screen and (max-width : 1140px)
	.news
		.gallery
			.main_image
				float: none
				margin: 0 auto 25px
			&_images
				width: 100%
				.image
					&:nth-child(2n)
						margin-right: 7px
					&:last-child
						margin-right: 0


@media only screen and (max-width : 1024px)
	.number_one
		padding-top: 90px
		padding-bottom: 20px

	.recepies
		&_item
			flex: 100%
			border-right: none !important
			&:nth-child(2)
				&:before
					display: block

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/

@media only screen and (min-width : 767px)
	.recepies
		&_item
			.info
				display: block !important

	.news
		&_text
			display: block !important

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.loadmore
		margin-top: 30px
		a
			font-size: 14px
			
	.discover
		font-size: 14px

	.number_one
		.left_image
			width: 320px
			margin: 0 auto
			position: static
			img
				width: 100%
		.right_image
			display: none
		.text
			h1
				font-size: 35px
				line-height: 28px
				span
					font-size: 31px
					display: inline
					br
						display: none
			p
				margin-bottom: 44px
				font-size: 12px
				line-height: 18px
			.discover
				max-width: 290px
				text-align: center
				width: 100%
				box-sizing: border-box

	.footer,
	.breadcrumbs
		display: block

	.our_liquer
		overflow: hidden
		padding-bottom: 35px
		padding-top: 100px
		background-size: 700px
		background-repeat: no-repeat
		background-position: top center
		background-color: #000
		.text
			max-width: 100%
			.image
				display: none
			h2
				font-size: 40px
				overflow: hidden
				position: relative
				text-align: right
				line-height: 1
				span
					position: absolute
					right: 125px
					top: 50%
					transform: translateY(-50%)
				img
					display: inline-block
					width: 300px
					vertical-align: middle
					margin-right: -100px
			p
				text-align: left
				font-size: 13px
				line-height: 25px

	.secret_coffee
		padding-top: 75px
		padding-bottom: 60px
		.text
			h2
				font-size: 38px
				line-height: 1
				margin-bottom: 5px
				margin-top: 0
			.subtitle
				font-size: 21px
				margin-bottom: 25px
			p
				font-size: 13px
				line-height: 25px

	.recepies
		background-attachment: scroll
		background-size: 700px
		background-repeat: no-repeat
		background-position: top center
		background-color: #000
		padding-top: 80px
		h1
			font-size: 40px
			text-align: center
		.subtitle
			font-size: 14px
			padding-left: 0
			border-left: none
			text-align: center
			line-height: 21px
		.breadcrumbs
			margin-bottom: 145px
		&_header
			background: #0e0e0e
			padding-left: 100px
			position: relative
			.image
				position: absolute
				bottom: -35px
				left: 0
				width: 100px
				img
					width: 100%
			h3
				padding-top: 20px
				font-size: 25px
				line-height: 1
				i
					font-size: 30px
					color: rgba(255,255,255,.3)
					margin-left: 15px
					line-height: 15px
					display: inline-block
			p
				font-size: 10px
		&_item
			padding: 0
			margin: 0 0 5px
			&:before
				display: none !important
			.info
				display: none

	.news
		background-attachment: scroll
		background-size: 700px
		background-repeat: no-repeat
		background-position: top center
		background-color: #000
		padding-top: 80px
		.breadcrumbs
			margin-bottom: 30px
		.image_desktop
			display: none
		&_item
			padding-top: 10px
			padding-bottom: 15px
			border-bottom: 1px solid #333333
			margin: 0
		&_header
			overflow: hidden
			.image
				display: block
				margin-right: 20px
			&_info
				.date
					display: none
				.date_mobile
					display: block
					margin-bottom: 0
				h3
					font-size: 25px
		&_text
			display: none
			font-size: 14px
			line-height: 21px

	.contact
		padding-top: 80px
		background-attachment: scroll
		background-size: 700px
		background-repeat: no-repeat
		background-position: top center
		.breadcrumbs
			margin-bottom: 65px
		h1
			font-size: 38px
			margin-bottom: 0
			margin-bottom: 10px
		.subtitle
			font-size: 13px
			padding: 6px 0
			margin-bottom: 35px
		.adresses
			&_item
				flex: 100%
				border-right: none
				margin-bottom: 0
				padding: 20px 0 25px
				border-bottom: 1px solid rgba(255,255,255,.2)
				&:last-child
					border-bottom: none

	.popup
		.logo
			img
				width: 100px
		h4
			font-size: 24px
			line-height: 1
		p
			font-size: 12px
			br
				display: none
		.date		
			&_select
				width: 90px
				padding-left: 25px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
