@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body,
html
	margin: 0
	padding: 0

//Custom Styles Here
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: "Montserrat", sans-serif
	overflow-x: hidden
	font-weight: 300

.page
	overflow: hidden

.hidden
	display: none

.loadmore
	text-align: center
	font-size: 18px
	margin-top: 50px
	padding-bottom: 30px
	a
		color: rgba(255,255,255,.5)
		text-decoration: none
		text-transform: uppercase

.container
	max-width: 1520px
	margin: 0 auto
	padding: 0 15px

a
	transition: all .15s linear

.discover
	padding: 18px 40px
	color: #fff
	text-decoration: none
	display: inline-block
	text-transform: uppercase
	font-size: 16px
	line-height: 18px
	//background-color: transparent;
	//background: filter-gradient(#f5b24d, #e0b366, horizontal)
	//background-image: linear-gradient(to left, #f5b24d 0%, #f8fbc0 56%, #eebb63 85%, #e0b366 100%)
	border: 2px solid #f5b24d
	//border-image-slice: 1
	&:hover
		background: #f5b24d

// HEADER

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding-top: 3%
	z-index: 10
	ul
		list-style-type: none
		margin: 0
		padding: 0
	.container
		> *
			display: inline-block
			vertical-align: bottom
	.header_desktop
		.main_menu
			margin-right: 5%
			li
				float: left
				margin: 0 20px
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
				a
					font-size: 16px
					color: #fff
					text-decoration: none
					text-transform: uppercase
					display: block
					padding: 0 5px 12px
					position: relative
					&:after
						content: ''
						position: absolute
						bottom: 0
						left: 50%
						width: 0
						height: 1px
						background: #ff4500
						transition: all .3s ease-in-out
					&:hover
						&:after
							left: 0
							width: 100%
				&.active
					a
						font-weight: 900
						&:after
							left: 0
							width: 100%
		.header_logo
			margin-right: 10%
		.header_social
			margin-right: 2%
			li
				float: left
				margin: 0 10px
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
				a
					color: #fff
					font-size: 20px
					&:hover
						color: #fa4c06
		.discover
			margin-bottom: -10px
	.header_language
		padding-bottom: 3px
		position: relative
		padding-right: 20px
		cursor: pointer
		margin-right: 6%
		&:after
			content: '\f078'
			font-family: FontAwesome
			position: absolute
			right: 0
			top: 0
			color: #fff
			font-size: 10px
			line-height: 16px
		li
			display: none
			position: absolute
			top: 100%
			left: 0
			&:nth-child(2)
				top: calc(100% + 5px)
			&:nth-child(3)
				top: calc(100% + 30px)
			&.active
				display: block
				position: static
			a
				font-size: 16px
				color: #fff
				text-decoration: none
				line-height: 1
		&.open
			&:after
				content: '\f077'
	.header_mobile
		text-align: center
		display: none
		.header_language
			margin: 0
			padding-bottom: 0
			line-height: 10px
			position: absolute
			top: 30px
			right: 15px
			&:after
				line-height: 10px
			li
				a
					font-size: 10px
		.menu_open
			font-size: 25px
			color: #a6a6a6
			text-decoration: none
			position: absolute
			left: 15px
			top: 20px
		.header_logo
			width: 72px
			img
				width: 100%
		.header_mobile_hidden
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0,0,0,.8)
			display: none
			z-index: 2
			box-sizing: border-box
			.logo
				text-align: center
				padding-top: 12px
				margin-bottom: 25px
				img
					width: 72px
			.language
				li
					display: inline-block
					margin: 0 15px
					a
						color: #a6a6a6
						font-weight: 500
						text-decoration: none
						font-size: 12px
						&:hover
							color: #fa4c06
			.main_menu
				li
					line-height: 54px
					border-bottom: 1px solid #333333
					a
						font-size: 13px
						color: #fff
						text-decoration: none
						text-transform: uppercase
						display: block
						padding: 0 5px
						position: relative
						display: inline-block
						&:after
							content: ''
							position: absolute
							bottom: -1px
							left: 50%
							width: 0
							height: 1px
							background: #ff4500
							transition: all .3s ease-in-out
						&:hover
							&:after
								left: 0
								width: 100%
					&.active
						a
							font-weight: 900
							&:after
								left: 0
								width: 100%
			.header_social
				li
					display: inline-block
					margin: 15px 20px
					a
						font-size: 30px
						color: #a6a6a6
						&:hover
							color: #fa4c06
			.menu_close
				position: absolute
				top: 20px
				left: 15px
				font-size: 25px
				color: #a6a6a6
				text-decoration: none
			.container
				> *
					display: block
		.discover
			display: inline-block

// FOOTER

.footer
	background: #000
	display: none
	.social	
		text-align: center
		ul
			list-style-type: none
			margin: 0
			padding: 0
			li
				display: inline-block
				margin: 20px
				a
					font-size: 30px
					color: #a6a6a6
					&:hover
						color: #fa4c06

// SCREEN
.screen
	background-position: center
	background-size: cover
	height: 100%
	padding-top: 14%

// BREADCRUMBS

.breadcrumbs
	display: none
	ul
		list-style-type: none
		padding: 0
		margin: 0
		text-align: center
		li
			display: inline-block
			color: #717171
			font-size: 10px
			text-transform: uppercase
			margin-left: 10px
			margin-right: 10px
			a
				color: #fff
				text-decoration: none

@import "pages/home"
@import "pages/product"
@import "pages/recepies"
@import "pages/news"

//ALWAYS END
@import "media"
