.number_one
	text-align: center
	margin: 0 auto
	overflow: hidden
	.container
		max-width: 550px
		position: relative
	.no_image
		position: absolute
		top: 0
	.left_image
		left: -700px
	.right_image
		right: -450px
		bottom: -100px
		top: auto
	.text
		position: relative
		z-index: 2
		h1
			margin: 0
			font-family: 'AFuturaOrtoBold'
			font-size: 190px
			text-transform: uppercase
			color: #f5b34d	
			.first
				background-image: linear-gradient(45deg, rgba(237,187,100,1) 0%, rgba(165,122,52,1) 100%)	
				-webkit-background-clip: text
				color: transparent
			.second
				display: block
				font-size: 60px
				font-family: 'ahronbd'
				line-height: 1
				font-weight: normal
				background-image: linear-gradient(45deg, rgba(237,187,100,1) 0%, rgba(165,122,52,1) 100%)	
				-webkit-background-clip: text
				color: transparent
		p
			color: #fff
			font-size: 18px
			margin-bottom: 60px
		.btn_down
			display: none
	> .btn_down
		position: absolute
		bottom: 50px
		left: 50%
		margin-left: -20px
		z-index: 2

.video_section
	padding-top: 0 !important
	text-align: center
	.video_play_wrap
		display: table
		height: 100%
		width: 100%
		&_in
			display: table-cell
			vertical-align: middle
			span
				font-family: "ahronbd"
				font-size: 36px
				color: #fff
				text-transform: uppercase
				display: block
				margin-bottom: 30px
	.video_wrapper
		position: absolute
		height: 100%
		top: 0
		left: 0
		z-index: 3
		width: 100%
		box-sizing: border-box
		display: none
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	.player_overlay
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2