.number_one
	height: 100%
	background: url("../img/first.jpg") no-repeat center center / cover
	text-align: center
	margin: 0 auto
	padding-top: 14%
	.container
		max-width: 550px
		position: relative
	.no_image
		position: absolute
		top: 0
	.left_image
		left: -700px
	.right_image
		right: -450px
		bottom: -100px
		top: auto
	.text
		h1
			margin: 0
			font-family: 'AFuturaOrtoBold'
			font-size: 190px
			text-transform: uppercase
			color: #f5b34d	
			span
				display: block
				font-size: 60px
				font-family: 'ahronbd'
		p
			color: #fff
			font-size: 18px